* {
	padding: 0;
	margin: 0;
}

.container {
	/* background:  #ff0057; */
	background: url(img/phone_bg.jpg) center/cover;
	height: 100vh;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar {
	width: 100%;
	height: 15vh;
	display: flex;
	margin: auto;
	align-items: center;
}

.logo {
	cursor: pointer;
	/* width: 160px; */
	background-image: linear-gradient(to right, red, green);
	font-size: 2rem;
	color: #fff;
	padding: 0 5px;
}
.cart {
	cursor: pointer;
	width: 50px;
	color: white;
	background: rgba(248, 111, 31, 0.911);
	border-radius: 10px;
}

nav {
	flex: 1;
	padding-left: 60px;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
nav ul li a {
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	color: rgba(248, 111, 31, 0.911);
}

.content h1 {
	font-size: 60px;
	/* color: #232d60; */
	color: #ff0057;
	font-weight: 100;
	margin-bottom: 15px;
	margin-top: 24px;
	z-index: 2;
}
.content p {
	font-size: 20px;
	color: #fff;
}
.content {
	margin-right: 10%;
	margin-top: 10%;
}

.content .btn {
	display: inline-block;
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	text-decoration: none;
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 68, .15);
}
.content-wrapper {
	display: flex;
}
.content-image img {
	height: 260px;
	width: 380px;
	border-radius: 20px;
	position: absolute;
	top: 170px;
}

/* media query */
@media screen and (max-width: 680px) {
	.navbar {
		/* display: flex; */
		flex-direction: column;
	}
	.navbar > h3,
	div,
	nav {
		margin: 20px 0;
	}
	nav ul {
		display: flex;
		flex-direction: column;
	}
	.content-wrapper {
		flex-direction: column;
	}
}
